*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.hero{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #0000009d;
    position: relative;
    background-image: url('images/bg1.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

nav{
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 130px;
    cursor: pointer;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    text-decoration: none;
    color: #fff9f9;
    font-weight: bold;
}

nav ul li a:hover{
    color: rgb(45, 223, 230);
}

.detel{
    margin-left: 8%;
    margin-top: 15%;
}

.detel h1{
    font-size: 50px;
    color: #ecdbdb;
    margin-bottom: 20px;
}

span{
    color: orange;
    
}

.detel p{
    color: #d6d0d0;
    line-height: 22px;
}

.detel a{
    background: #dfb21e;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: #080808;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}

.detel a:hover{
    color: #d43232;
}

.images{
    width: 35%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
}

.images img{
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}

.images:hover .shape{
    bottom: 40px;
}

.images:hover .girl{
    left: 45%;
}

.social{
    margin-left: 8%;
    margin-top: 100px;
}

.social a{
    font-size: 30px;
    color: #665f5f;
    margin-right: 20px;
}

.social a:hover{
    color: orange;
}

body{
   background-image: url('images/bg.png');
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: 100% 100%;
}

.ab{
    background-color: #0000009d;
    height: 100vh;

}

.ab h1{
    font-size: 50px;
    color: #ecdbdb;
    margin-bottom: 20px;
    margin-left: 8%;
    margin-top: 100px;
    animation: alternate-reverse;
}

.ab p{
    color: #d6d0d0;
    line-height: 22px;
    margin-left: 8%;
    margin-top: 30px;
    font-size: 130%;
    line-height: 30px;
}
.ab ol{
    color: #d6d0d0;
    line-height: 0px;
    margin-left: 8%;
    margin-top: 50px;
    font-size: 130%;
    
}

.btn {
    display: inline-block;
    padding: 12px 28px;
    background: rgb(201, 204, 44);
    border-radius: 40px;
    box-shadow: 0 0 20px rgb(255, 145, 0);
    font-size: 16px;
    color: #1f242d;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    margin-top: 30px;
    margin-left: 100px;
}

.btn:hover {
    box-shadow: none;
}

.skills{
    height: 150vh;
    background-color: #0000009d;

}

.skill h1 {
    text-align: center;
}

.skill h3 {
    margin: 5px;
}

.skill {
    width: 500px;
    margin: 60px auto;
    text-transform: uppercase;
    color: #fff;
    padding: 20px;
    height: 100vh;
}

.skill li {
    margin: 10px 0;
    padding: 20px;
}

.bar {
    background: #353b48;
    display: block;
    height: 20px;
    border: 1px solid rgba(83, 155, 223, 0.3);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(82, 179, 243, 0.12), 0 1px 2px rgba(32, 101, 230, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.bar:hover {
    box-shadow: 0 14px 28px rgba(103, 165, 206, 0.25), 0 10px 10px rgba(33, 148, 201, 0.22);
}

.bar span {
    height: 20px;
    float: left;
    background: linear-gradient(135deg, rgb(78, 230, 222)0%, rgb(47, 187, 152)100%);
}

.html {
    width: 90%;
    animation: html 5s;
}

.css {
    width: 80%;
    animation: css 5s;
}

.javascript {
    width: 70%;
    animation: javascript 5s;
}

.java {
    width: 90%;
    animation: JAVA 5s;
}

@keyframes html {
    0% {
        width: 0%;
    }
    100% {
        width: 90%;
    }
}

@keyframes css {
    0% {
        width: 0%;
    }
    100% {
        width: 70%;
    }
}

@keyframes javascript {
    0% {
        width: 0%;
    }
    100% {
        width: 60%;
    }
}

@keyframes JAVA {
    0% {
        width: 0%;
    }
    100% {
        width: 80%;
    }
}

.services h2 {
    margin-bottom: 5rem;
    margin-left: 30%;
    font-size: 80px;
}

.services span {
    color: #0ef;
}

.services-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.services-container .services-box {
    flex: 1 1 30rem;
    background: #000000;
    padding: 2rem 1rem 4rem;
    border-radius: 3rem;
    text-align: center;
    border: .2rem solid #1f242d;
    transition: .5s ease;
}

.services-container .services-box:hover {
    border-color: rgb(225, 241, 0);
    transform: scale(1.02);
}

.services-box i {
    font-size: 7rem;
    color: white;
}

.services-box h3 {
    font-size: 1rem;
    color: #d6d0d0;
}

.btns {
    display: inline-block;
    padding: 12px 28px;
    background: rgb(255, 238, 0);
    border-radius: 50px;
    box-shadow: 0 0 20px #0ef;
    font-size: 16px;
    color: #1f2d2c;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    margin-top: 30px;
}

.btns:hover {
    box-shadow: 0 14px 28px rgba(103, 165, 206, 0.25), 0 10px 10px rgba(33, 148, 201, 0.22);
}

.contact h2 {
    margin-top: 10rem;
    margin-bottom: 3ream;
    margin-left: 30%;
    font-size: 100px;
    color: #d6d0d0;
}

.contact form {
    max-width: 50rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 1rem;
}

.contact form .input-box {
    display: flex;
    justify-content: space-between;
}

.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 1rem;
    font-size: 1.1rem;
    color: #ffffff;
    background: #1f242d;
    border-radius: .8rem;
    margin: .6rem 0;
}

.btns {
    display: inline-block;
    padding: 12px 28px;
    background: rgb(255, 238, 0);
    border-radius: 40px;
    box-shadow: 0 0 20px rgb(255, 174, 0);
    font-size: 16px;
    color: #1f242d;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    margin-top: 2rem;
    margin-bottom: 30px;
    cursor: pointer;
}

.contact form .input-box input {
    width: 49%;
}

.contact form textarea {
    resize: none;
}